wheel
https://github.com/guillaumevincent/smartconfigparser/archive/0.1.1.zip
Django==1.9.6
djangorestframework==3.6.1
djangorestframework-jwt==1.8.0
djoser==0.5.0
docker-py==1.10.6
requests==2.10.0
# server
gunicorn==19.4.5
# test
factory-boy==2.8.1